* {
    gap: 2px;
}

body {
    margin: 6vw;
}

#calculator {
    display: flex;
    flex-direction: column;
}

#display {
    display: flex;
}

#display, #screen {
    flex-grow: 1;
    min-height: 10vh;
}

#screen {
    background-color: black;
    border: 5px solid black;
    color: #F4F3EE;
    font-size: 3rem;
}

#buttons {
    display: flex;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

#numbers button {
    flex-basis: 33%;
    min-height: 8vh;
    background-color: #E4572E;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 3rem;
}

#operations {
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    flex-wrap: wrap;
}

#operations button {
    flex-grow: 1;
    min-height: 25%;
    background-color: #6290C8;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2rem;
}

#execution {
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
}

#execution button {
    flex-grow: 1;
    background-color: #3F6C51;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2rem;
}